<form class="form-horizontal" id="createForm" action="" method="post">{% csrf_token %}
    <div class="box-body">
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label class="col-sm-2 control-label">{{ field.label }}
                    {% if field.field.required %}
                        <span class="text-red">*</span>
                    {% endif %}
                </label>
                <div class="col-sm-9">
                    {{ field }}
                </div>
                <span class="help-block">
                  {% for error in field.errors %}
                      {{ error }}
                  {% endfor %}
                 {{ field.help_text }}
                </span>
            </div>
        {% endfor %}
        <div class="box-footer text-center">
            <button type="reset" class="btn btn-warning">清空</button>
            <button id="createBtn" type="button" class="btn btn-info">提交</button>
            <p class="text-center"><i id='iconWait'></i></p>
        </div>
    </div>
</form>
{% block js %}
    <script>
    $("#createBtn").on("click",function () {       //点击createBtn按钮，触发以下代码
        if("{{ pk }}"=="0"){                      // 如果pk值 ==0
            var url="{% url 'create_init' %}"      // 定义url页面为 create_init页面  （新增）
        }else {                                    // 否则
            var url="{% url 'edit_init' pk %}"     // 定义url页面为 edit_init页面并携带pk值 （编辑）
        }
        Net.post({                          //提交数据
            url:url,                        // 提交页面
            data:$("#createForm").serialize(),   //提交数据（表单id）  serialize 将数据格式化   如果： "data":{"username":name} 提交单个数据
            go:"{% url 'initlist' %}",          // 跳转到 initlist页面
            btn:$("#createBtn")          //
        })
    })
    </script>
{% endblock %}