{% extends "stamper.html" %}

{% block css %}
{% include "master/css.html" %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                         <div class="btn btn-sm btn-success create-btn">新增项目</div>
                    </h3>
                    <form action="" method="get" class="pull-right">

                    <div class="box-tools">

                        <div class="input-group input-group-sm hidden-xs" style="width: 150px;">

                            <input type="text" name="table_search" class="form-control pull-right"
                                       placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                        </div>
                    </div>
                        </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>序号</th>
                            <th>项目名</th>
                            <th>责任人</th>
                            <th>项目地址</th>
                            <th>Git地址</th>
                            <th>语言</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>操作</th>

                        </tr>
                        {% for project in projects %}
                            <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.name }}</td>
                            <td>
                            {% for foo in project.boss.all %}
                                {{ foo.name }}
                            {% endfor %}
                            </td>
                            <td>{{ project.path }}</td>
                            <td>{{ project.git_path }}</td>
                            <td>{{ project.get_language_display }}</td>
                            <td>{{ project.get_status_display  }}</td>
                            <td>{{ project.create_time|date:"Y-m-d h:i:s" }}</td>
                            <td>
                                <div data-url="{% url 'edit_project' project.pk %}"
                                         class="btn btn-sm btn-success edit-btn">编辑
                                    </div>
                                    <div href="#" data-url="{% url 'del_project' project.pk %}" class="btn btn-sm btn-danger del-btn">删除</div>
                                    <div href="#" data-url="{% url 'del_project' project.pk %}" class="btn btn-sm btn-info detail-btn">详情</div>
                            </td>


                        </tr>
                        {% endfor %}
                        

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        <div>
                <ul class="pagination pagination-sm no-margin pull-right">
                    {{ page_html|safe }}
                </ul>
                <!-- /.box -->
            </div>


        </div>
    </div>




{% endblock %}


{% block js %}
<script>
    $("#bt").removeClass("hidden")
    $("#project").addClass("active")
    $("#project_list").addClass("active")
    $(".create-btn").on("click", function () {
            ui.box({
                "title": "添加项目",
                "remote": "{% url 'create_project' %}"
            })
        })
    $(".edit-btn").on("click", function () {
            ui.box({
                "title": "编辑项目",
{#  获取data-url数据              #}
                "remote": $(this).attr('data-url')
            })
        })
    $(".del-btn").on("click", function () {
            var url=$(this).attr('data-url')
{#            console.log(this);#}
            ui.confirm("你确认要删除吗?",function () {
                console.log($(this))
                Net.get({
                    url:url,
{#                    重新加载页面#}
                    reload:true
                })
            })
        })
</script>


{% endblock %}